/* ====== global styles ======= */

body{
	font-family: Georgia, serif;
	background: #bbb url(../images/page_background.jpg);
	margin: 0;
	padding: 0;


}

p,h1.h2,h3,h4,h5,h6,l1{

	margin: 1ex 1em;	
}

div#outerDiv{
	
	width: 770px;
	margin: 0 auto;
	background: #fff url(../images/banner.jpg) no-repeat;
}

#outerDiv a:link, #outerDiv a:visited{
	text-decoration: none;
	color: #b36b00;
}

#outerDiv a:hover, #outerDiv a:active{
	
	color: #566440;
	border-bottom: 1px dashed #566440;
}

/* ====== header ======= */
div#header{ /** its width will be based on the outer div which is 770 px; **/
	height: 110px; 
	position: relative;  /* This makes it qualify contaning block so we can do some other positioning relative to fixed position on page
	                    /* It's inherits the width from its parent */

}

/*======= Contact Link ======== */
#outerDiv div#contactButton{
	 position: absolute; 
	left: 650px;
	top: 0;
}

/* setting up the button image **/
#contactButton a:link, #contactButton a:visited{ /** special state for an anchor element */
/* link has or has not already been visited */
height: 29px;
width: 106px;
display:block;
text-indent: -1000em;
background: url(../images/contact_icon_dual.gif) no-repeat; /** it will align left and top of the image **/
border: none;

}

#contactButton a:hover, #contactButton a:active{
	background-position: left bottom;
}

/* ======= main menu =====*/
#header #mainMenu {

	position: absolute;
	left: 320px;
	bottom: 0;


}

#mainMenu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	
	
}

#mainMenu li{
	float: left;


}

#mainMenu li a:link, #mainMenu li a:visited{
	font-family: "Trebuchet MS", sans-serif;
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 0 15px 0 30px;
	/*border-style: solid;
	border-width: 1px;*/
	margin-right: 10px;
	line-height: 25px;
	background: url(../images/nav_rollover.jpg) no-repeat left bottom;
}

#mainMenu li a:hover, #mainMenu li a:active{
	color: #f8b449;
	background-position: left top;
}

#mainMenu li a.current{

	background: url(../images/nav_current.jpg) no-repeat;
	color: #aaa;
	line-height: 25px;
	height: 30px;
	margin-top: -5px;

	}

#mainMenu li a.current:hover{
	cursor: default;
}

/* ======== main content ======== */
#mainContent{
	float: left;
	width: 430px;
	
	padding: 0 15px;
	
}

#mainContent p{

	font-family: Georgia, serif;
	font-size: .9em;
	line-height: 1.4em;
	color: #000;
	margin: 1ex 0;


}

#mainContent h1, #mainContent h2, #mainContent h3, #mainContent h4{
	font-family: "Trebuchet MS", sans-serif;

} 

#mainContent h1{

	font-size: 1.6em;
	font-weight: bold;
	color: #1b9d95;
	margin: 0 0 .4ex 0;
}

#mainContent h2{
	font-size: 1.2em;
	color: #3c3809;
	margin: .4ex 0;
}

#mainContent h4{
	font-size: 1.1em;
	font-weight: bold;
	color: #666;
	margin: 1ex 0 -.2ex 0;

}

#mainContent ul {

	font-family: Georgia, serif;
	font-size: .9em;
	margin: 0 0 1.4ex 1em;
}

/*====== side styles ==== */

#sideBar{

	float: right; /*floating right to ensure that right margin is aligned with the right side of the containing block.*/
	width: 265px;
	padding: 0 10px;
	margin: 0;
	border-left: solid #aaa 1px;

	
}

#sideBar p{
	font-family: "Trebuchet MS", sans-serif;
	font-size: .8em;
	color: #666;
	line-height: 1.2em;
	margin: 0 0 3ex 0;
}

#sideBar h3{

	font-family: "Trebuchet MS", sans-serif;
	font-size: 1em;
	
	color: #1b9d95;
	margin: 1ex 0 .5ex 0;
}

#sideBar img{

	margin: 0 25px;
}

#sideBar img.photo{

	border: 1px solid #999;
	padding: 5px; /*padding inside the border*/

}


/* ========== gear sub navigation ====== */

#gearSubNav{
	width: 340px;
	margin: 0 auto;
	list-style: none;

	
}

#gearSubNav li{

	float: left;
	margin: 0;
	padding: 0;

}

#gearSubNav li a{

	width: 70px;
	height: 20px;
	font-family: "Orator Std", Orator, sans-serif;
	font-size: .9em;
	text-align: center;;
	padding-top: 100px;
	margin-right: 20px;
	border: none;
	display: block;
}

#gearSubNav li a.last{

	margin-right: 0;
}

#gearSubNav li a.boards{

	background: url(../images/rollovers/board-off.jpg) no-repeat center top;
}

#gearSubNav li a.swimwear{

	background: url(../images/rollovers/swim-off.jpg) no-repeat center top;
}

#gearSubNav li a.wetsuits{

	background: url(../images/rollovers/wetsuit-off.jpg) no-repeat center top;

}

#gearSubNav li a.etc{

	background: url(../images/rollovers/sandals-off.jpg) no-repeat center top;
}


#gearSubNav li a.boards:hover{

	background: url(../images/rollovers/board-on.jpg) no-repeat center top;
}

#gearSubNav li a.swimwear:hover{

	background: url(../images/rollovers/swim-on.jpg) no-repeat center top;
}

#gearSubNav li a.wetsuits:hover{

	background: url(../images/rollovers/wetsuit-on.jpg) no-repeat center top;

}

#gearSubNav li a.etc:hover{

	background: url(../images/rollovers/sandals-on.jpg) no-repeat center top;
}




/*====== gear sales box ===== */


img.leftFloatImage{
	float: left;
	padding: 15px;
}

#gearDesc{
	float: right;
	width: 260px;
	padding-top: 20px;
}

#gearDesc h3{
	font-family: Georgia, serif;
	font-size: 1,2em;
	color: #c47500;
	border-bottom: 1px solid #344;
	padding-bottom: .2em;
	margin:0;
}

#gearDesc p{
	font-family: "Trebuchet MS", sans-serif;
	font-size: .8em;

}

#gearDesc p.price{

	text-align: right;
	font-size: 1.2em;
}

.clear{
	clear: both;
}

/*=====main content left menu ======*/

#mainContent p.leftMenu{

	font-family: "Trebuchet MS", sans-serif;
	margin-top: 0;

}

#mainContent p.leftMenu a{

	color: #566440;

}

#mainContent p.leftMenu a:hover{

	color: #b36b00;
	border: none;
	
}

#sideBar ol{

	margin: .5em 0 1.5em 1.5em;


}

#sideBar li{

	font-family: "Trebuchet MS", sans-serif;
	font-size: .8em;
	color: #666;
	margin:2.em .5em;
}

#youtubeVideo{

	margin: 20px 0 20px 30px;


}

#footer{

	

	 /*It's always at the bottom outside of the floatting elements*/
	clear: both;
	background: transparent;
	margin: 0 auto; /*this will center the div but no width is given*/
	padding: 5px;
	
	
}

#footer p{
	font-family: "Trebuchet MS", sans-serif;
	font-size: .75em;
	color: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
}

#footer a{

	color: #1b9d95;
	text-decoration: none;

}






